body {
    padding: 0px;
    margin: 0px;
    font-family: 'Comfortaa', cursive;
    background-image: url(../images/pineapple-supply-co-124390-unsplash.jpg);
    background-position: center center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
nav li a:hover {
    background-color: #111;
}

#messages {
    font-family: 'Gentium Basic', serif;
    text-align: center;
}

form{
    text-align: center;
}

#button {
    background-color:#333;
    color: white;
    height: 30px;
    width: 90px;
}

#title{
    width: 50%;
    border: 1px solid #333;
}

#body{
    width: 50%;
    height: 200px;
    border: 1px solid #333;
}

h1{
    text-align: center;
}

#success{
    text-align: center;
    font-size: 36px;
    color:#BF3F9B;
}

.posts{
    border-bottom: 1px solid #333;
}

footer{
    text-align: right;
}